@media screen and (max-width: 480px) and (min-width: 320px) {
    .grad_btm_bdr {
        width: 295px;
        left: 33px;
    }

    .bg {
        background: url(../images/Mobile_Top_BG.svg);
        background-repeat: no-repeat;
    }

    .match_heading {
        margin: 2rem 0 1rem;
    }

    .match_heading h2 {
        font-size: 11.8072px;
    }

    .match_heading h3 {
        font-size: 11.8072px;
    }

    .live_text::before {
        content: "";
        width: 8rem;
        left: 21px;
    }

    .live_text::after {
        content: "";
        width: 8rem;
        right: 20px;
    }

    .team_1 {
        gap: 10px;
        justify-content: flex-start;
        height: 120px;
    }

    .team_2 {
        gap: 10px;
        height: 125px;
    }

    .vs {
        left: 78%;
    }

    .active_team {
        width: 55px;
        padding: 8px;
    }

    .deactive_team {
        width: 55px;
        padding: 8px;
    }

    .score_board {
        width: 80px;
    }

    .frame_text_one {
        font-size: 15.7108px;
        width: 49px;
    }

    .frame_text_two {
        font-size: 13.743px;
    }

    .frame_text_three {
        font-size: 13.743px;
    }

    .team_2 .frame_text_one {
        left: 50px;
    }

    .team_2 .frame_text_one_1 {
        left: 20px;
    }

    .team_2 .frame_text_two {
        position: absolute;
        left: 63px;
    }

    .team_2 .frame_text_three {
        position: absolute;
        left: 63px;
    }

    .match_status {
        width: 100%;
    }

    .match_status h2 {
        font-size: 12px;
        padding-top: 14px;
        margin-bottom: 14px;
    }

    .match_status h3 {
        font-size: 11.8072px;
        margin-bottom: 18px;
    }

    .player_score h2 {
        font-size: 13.7751px;
        line-height: 33px;
    }

    .player_score h2 span {
        font-size: 15.743px;
    }

    .player {
        font-size: 13.7751px;
    }

    .padR8 {
        padding-right: 15px !important;
    }

    .padL8 {
        padding-left: 15px !important;
    }

    .player_score {
        height: 40px;
        margin-bottom: 8px;
    }

    .margin {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    #content {
        margin-bottom: 15px;
    }

    .hidden-xs {
        display: none !important;
    }

    #content .sub-news_btm_bdr {
        top: 302px;
    }

    .player_img {
        width: 127.28px;
        height: 120px;
        background: linear-gradient(0deg, #000000 -4%, rgba(50, 50, 50, 0) 58.15%);
        border-radius: 5px;
        float: right;
    }

    .sub-news h2 {
        font-size: 12px;
    }

    .latest_share {
        right: 20px !important;
    }

    .sub-news .share {
        right: 165px;
    }

    .sub-news_btm_bdr {
        left: 200px;
        width: 110px;
        top: 120px;
    }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
    .grad_btm_bdr {
        width: 312px;
        top: 189px;
    }

    .bg {
        background: url(../images/Tablet_To_BG.svg);
    }

    .hidden-sm {
        display: none;
    }

    .sub-news_btm_bdr {
        width: 138px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1001px) {
    .hidden-md {
        display: none;
    }

    .grad_btm_bdr {
        width: 433px;
        top: 253px;
    }

    .sub-news_btm_bdr {
        width: 190px;
    }
}